html {
    background: #575656;
}

body, .main-section p {
    line-height: 1.728571;
    font-size: 16px;
    color: #4a4a4a;
}

.section-container {
    min-width: 900px;
}

.main-section .word {
    line-height: 1.628571;
    font-size: 16px;
}

.main-section .timeline>li .timeline-image {
    background-color: #65809C;
}

.main-section .navbar-header {
    cursor: pointer;
}

@media (max-width: 978px) {
    body {
        padding: 0 10px;
        margin: 0px;
        width: 100%;
    }
}

.timeline {
    margin-top: 70px;
    margin-right: 50px;
}

.main-section .top-row {
    padding-top:100px;
}

.main-section .row {
    padding-left:100px;
    padding-right:100px;
    padding-bottom:20px;
}

.main-title {
    font-size: 25px;
}

.top-bar {
    margin-bottom:20px;
}

.dataset-selector {
    margin-right:10px;
}

.flex-row {
    display: flex;
    flex-direction:row;
    overflow: scroll;
}

.flex-col {
    display: flex;
    flex-direction:column;
    overflow: scroll;
}

#visual-fields {
    margin-top:20px;
}

.select-patient {
    margin: 12px;
}

.eye-label-value {
    width: 60px;
    height: 20px;
    margin-right: 1px;
}

.eye-label-value.improving {
    background-color: rgba(46, 204, 113, 0.75);
}

.eye-label-value.stable {
    background-color: rgba(189, 195, 199, 0.5);
}

.eye-label-value.progressing {
    background-color: rgba(231, 76, 60, 0.75);
}

.eye-label-value.unclear {
    background-color: rgba(241, 196, 15, 0.75);
}

.eye-label-value.NA {
    background-color: rgba(52, 73, 94, 0.55);
    color: white;
    text-align: center;
}

.eye-label-legend .eye-label-value {
    width: 25px;
}

.algo-label {
    text-align: center;
    width: 60px;
}

#labels {
    margin-top:30px;
}

.legend-text {
    margin-left:10px;
    margin-right:3px;
}

.eye-label-legend {
    margin-left: 40px;
}

.center {
    justify-content: center;
}

.select-patient-label {
    margin-right:5px;
}