<div class="main-section flex-column center-align">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll main-title" ng-click="gotoModule('page-top')">Foresight - Glaucoma
                    detection</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll module-link" ng-click="gotoModule('about')">
                            About
                        </a>
                    </li>
                    <li>
                        <a class="module-link" ng-click="gotoModule('section1')">
                            Section 1
                        </a>
                    </li>
                    <li>
                        <a class="module-link" ng-click="gotoModule('section2')">
                            Section 1
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="row top-row">
        <div id="about">

            <body ng-controller="MainController">
            <h1>Visual Field</h1>

            <div class="flex-row top-bar">
                <select ng-model="selectedView" class="dataset-selector" ng-change="drawChart()"
                        ng-options="dataset.name for dataset in views">
                </select>
                <label class="showValuesToggle">
                    Show Values: <input type="checkbox" ng-model="showValuesOnHeatMap"
                                        ng-change="toggleTextVisibility()">
                </label>
            </div>

            <div id="chart"></div>
            </body>

        </div>

        <div id="section1" class="centered-module">
            <H3 class="section-container">Section 1</H3>
        </div>

        <div class="widget">
            <div id="section2" class="centered-module">
                <h3 class="section-container">Section 2</h3>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">All Rights Reserved &copy;</span>
                </div>
            </div>
        </div>
    </footer>
</div>
