<div class="main-section flex-column center-align">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll main-title">Foresight - Glaucoma
                    detection</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <div class="select-patient flex-row">
                        <div class="select-patient-label">Select patient:</div>
                        <select ng-model="selectedPatient" required ng-change="getPatientData()">
                            <option selected disabled hidden value="">Select Eye</option>
                            <option ng-repeat="patient in patients track by $index"
                                    value="{[ patient.id + '_' + patient.eye ]}">
                                {[ patient.id ]} ({[ patient.eye ]})
                            </option>
                        </select>
                    </div>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="row top-row">
        <div id="visual-fields">

            <body ng-controller="MainController">

            <div class="flex-row top-bar">
                <select ng-model="selectedView" class="dataset-selector" ng-change="refreshCharts()"
                        ng-options="dataset.name for dataset in getViews()">
                </select>
                <label class="showValuesToggle">
                    Show Values: <input type="checkbox" ng-model="showValuesOnHeatMap"
                                        ng-change="setTextVisibility()">
                </label>
            </div>

            <div id="charts" class="flex-row scroll"></div>
            <div class="flex-row end">
                <div class="next-button" ng-click="nextPatient(selectedPatient)">
                        Next
                </div>
            </div>
            <div class="flex-row space-around">
                <div id="labels" class="flex-column center" ng-if="labels">
                    <div class="flex-row">
                        <div class="flex-row">
                            <div ng-repeat="algo in algos">
                                <div class="flex-col">
                                    <div class="eye-label-value" ng-class="labels[algo.key]">
                                        <span ng-if="labels[algo.key]=='NA'">NA</span>
                                    </div>
                                    <div class="algo-label">{[ algo.label ]}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="eye-label-legend flex-row">
                        <div class="eye-label-value improving"></div>
                        <div class="legend-text">Improving</div>
                        <div class="eye-label-value stable"></div>
                        <div class="legend-text">Stable</div>
                        <div class="eye-label-value progressing"></div>
                        <div class="legend-text">Progressing</div>
                        <div class="eye-label-value unclear"></div>
                        <div class="legend-text">Unclear</div>
                    </div>
                </div>
                <div class="flex-column-container">
                    <div id="legend"></div>
                </div>
            </div>
            <div class="flex-row space-around">
                <div class="width70">
                    <div>The visual field captures the results of patient's vision test at a particular visit in an
                        eye-shaped matrix. The numbers represent a patient's sensitivity to light at 52-distinct points.
                        Higher numbers represent stronger vision. There are three standard measures of vision on visual
                        fields
                    </div>
                    <div class="tell-me-more" ng-click="show_vf_help_text = !show_vf_help_text" ng-show="show_vf_help_text">Got it!</div>
                    <div class="tell-me-more" ng-click="show_vf_help_text = !show_vf_help_text" ng-show="!show_vf_help_text">Tell me more</div>
                    <div ng-show="show_vf_help_text">
                        <div class="vf-desc"><b>Raw sensitivity</b>: values of each tested point are listed in decibels in
                            the sensitivity plot. Higher numbers mean the patient was able to see a more attenuated light,
                            and thus has more sensitive vision at that location
                        </div>
                        <div class="vf-desc"><b>Total deviation</b>: numbers are the deviations in sensitivity from the
                            expected values for a specific age. It is useful to compare with age-matched normal thresholds
                            as sensitivity normally decreases gradually with age. Positive values represent areas of the
                            field where the patient can see dimmer stimuli than the average individual of that age. Negative
                            values represent decreased sensitivity from normal.
                        </div>
                        <div class="vf-desc"><b>Pattern deviation</b>: shows discrepancies within a patient's visual field
                            by correcting for generalized decreases in visual sensitivity. It is useful in cases where there
                            is both localized depression due to Glaucoma, as well as globally depressed vision across the
                            eye due to other pathologies such as cataracts.
                        </div>
                    </div>
                </div>
                <div class="p-value-desc" ng-show="selectedView.data_type != 'sensitivity'">
                    <div>Red border: p<0.005</div>
                    <div>Light red border: p<0.05</div>
                </div>
            </div>
            </body>

        </div>
    </div>
</div>
